In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("data/survey_results_public.csv")
schema_df = pd.read_csv("data/survey_results_schema.csv")

In [6]:
people = {
    "first_name": ["Abeje", "Dejen", "Sol"],
    "last_name": ["Belew", "Mano", "Merk"],
    "email": ["abejeb@email.com", "dejen@email.com", "solmer@email.com"]
}

In [7]:
df = pd.DataFrame(people)

In [8]:
df

  first_name last_name             email
0      Abeje     Belew  abejeb@email.com
1      Dejen      Mano   dejen@email.com
2        Sol      Merk  solmer@email.com

In [9]:
# accessing single column
df["email"]

0    abejeb@email.com
1     dejen@email.com
2    solmer@email.com
Name: email, dtype: object

In [10]:
type(df["email"])

pandas.core.series.Series

In [11]:
# accessing multiple columns
df[["first_name", "email"]]

  first_name             email
0      Abeje  abejeb@email.com
1      Dejen   dejen@email.com
2        Sol  solmer@email.com

In [14]:
df.columns

Index(['first_name', 'last_name', 'email'], dtype='object')

In [17]:
# to access specific row(s) use loc and iloc methods
# iloc - mean integer location
df.iloc[0]

first_name               Abeje
last_name                Belew
email         abejeb@email.com
Name: 0, dtype: object

In [23]:
# accesing multiple rows
df.iloc[[1,2]]

  first_name last_name             email
1      Dejen      Mano   dejen@email.com
2        Sol      Merk  solmer@email.com